
.main {
    position: relative;
    top: 50px;
    margin-left: 25px;
    margin-right: 25px;
    float:left;
}



.about_title {
    font-size: 50px;
    font-weight: bold;
}

.paragraph {
    font-size: 20px;
}

.resume  {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

.right{
    text-align: center;
    float: right;
    padding-left: 50px;
    margin-right: 50px;
}

img[name="Andy_Rocks"] {
    max-width: 400px;
}