body {
    margin: 0;
    background-color: #171717;
    font-family: Coves;
    color: white;
}

header {
    margin: 0;
    font-family: Coves;
    color: white;
    /* position: relative; */
    /* position: fixed;
    left: 0;
    right: 0; */
    padding-left: 10px;
}

@font-face {
    font-family: Coves;
    src: url("./resources/Coves_Light.otf");
}

@font-face {
    font-family: Coves;
    src: url("./resources/Coves_Bold.otf");
    font-weight: bold;
}


.header_link {
    float: left;
    word-spacing: 2px;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.contact_link {
    float: right;
    text-align: right;
    word-spacing: 2px;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-top: -15px;
}
