
.index_picture {
    position: relative;
    float: right;
    max-width: 500px;
    right: 100px;
    top: 100px;

}

.text{
    position: relative;
    color: white;
    top: 100px;
    float: left;
    padding: 10px;
    margin-left: 50px;
}

.name {
    text-align: left;
    font-size: 120px;
    font-weight: bold;
}

.description {
    padding-top: 20px;
    font-size: 30px; 
    font-family: Kayak;
}

