.main{
    clear: both;
    position: relative;
    color: white;
    top: 100px;
    text-align: center;
    /* border: thick double #32a1ce; */
}

.project_line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.projects_header {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.gallerypic {
    width: 100px;
    height: 100px;
}

.gallerychunk {
    padding-left: 10px;
    padding-right: 10px;
   
}

.gallerybox {
    border: thick double white;
    padding: 10px;
    width: 150px;
    height: 150px;
}

[name="document_comparison"] {
    border: thick double greenyellow;
}
